{
  "presets": [
    // "@babel/env",
    // [
      "@babel/env",
    //   {
    //     "useBuiltIns": "usage",
    //   },
    // ],
    "@babel/react",
    // "@babel/stage-3"
  ],
  "plugins": [
    "babel-plugin-transform-proto-to-assign"
  ]
}